<p id="notice"><%= notice %></p>

<%= image_tag @curso.image_url %>

<p>
  <strong>Name:</strong>
  <%= @curso.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @curso.website %>
</p>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
